.toast-wrapper {
    position: fixed;
    bottom: 5%;
    left: 50%;
    min-width: 200px;
    max-width: 350px;
    width: calc(100% - 30px);

    transform: translateX(-50%);

    /* set z-index value more than bootstrap-backdrop */
    z-index: 1100;
}

.toast-message {
    width: 100%!important;
}

.toast-header {
    background-color: #49409c55!important;
}